@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:wght@200&family=Yellowtail&display=swap');

ion-content {
    --background: rgba(158,0,0,255);
    font-family: 'Poppins', sans-serif;
}

.home img {
    height: 335px; width: 210px;
    padding-top: 12vh;
    padding-bottom: 0px;
    margin-left: 20%;
}
.home .text {
    font-style:normal;
    font-weight: 600;
    font-size: 40px;
    margin-left: 25%;
    padding-top: 0px;
    color: #ffffff;
}
.button a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 12px; margin-left: 11%;
}
.button {
    background-color: rgb(213, 0, 0);
    border-radius: 5px;
    padding: 2px;
    width: 150px;
    margin-left: 29%;
}